In [ ]:
id,route_name,route_link,busname,bustype,departing_time,duration,reaching_time,star_rating,price,seats_available
1,Kozhikode to Bangalore,https://example.com,MMK Travels,A/C Seater,22:30,9h 00m,07:30,4.6,999,22
2,Bangalore to Chennai,https://example.com,ABC Travels,Non-A/C,23:00,10h 00m,09:00,4.2,800,15

In [31]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Database configuration
db_user = 'root'
db_password = 'Portal@77'
db_host = 'localhost'
db_name = 'BusTransport'

# Initialize the database connection
engine = create_engine(f"mysql+pymysql://{db_user}:{quote_plus(db_password)}@{db_host}/{db_name}")

# Load the cleaned data
csv_file_path = 'C:/Users/Dine24/Python Course/Guvi-Course/Cleaned_RedBus_Details.csv'  # Path to the cleaned file
data = pd.read_csv(csv_file_path)

# Prepare data for insertion
data_tuples = [
    (
        row['id'], row['route_name'], row['route_link'], row['busname'], row['bustype'],
        row['departing_time'], row['duration'], row['reaching_time'], row['star_rating'],
        row['price'], row['seats_available']
    )
    for _, row in data.iterrows()
]

# Insert or update the data
try:
    with engine.connect() as connection:
        query = """
            INSERT INTO bus_routes 
            (id, route_name, route_link, bus_name, bus_type, departing_time, duration, reaching_time, star_rating, price, seats_available)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE
                route_name = VALUES(route_name),
                route_link = VALUES(route_link),
                bus_name = VALUES(bus_name),
                bus_type = VALUES(bus_type),
                departing_time = VALUES(departing_time),
                duration = VALUES(duration),
                reaching_time = VALUES(reaching_time),
                star_rating = VALUES(star_rating),
                price = VALUES(price),
                seats_available = VALUES(seats_available)
        """
        # Execute batch insertion
        connection.execute(query, data_tuples)
        print("Data successfully updated in the database.")
except Exception as e:
    print(f"Error updating data in the database: {e}")

KeyError: 'busname'

In [32]:
print(data.columns)

Index(['id', 'route_name', 'route_link', 'bus_name', 'bus_type',
       'departing_time', 'duration', 'reaching_time', 'star_rating', 'price',
       'seats_available'],
      dtype='object')

In [24]:
data.columns = data.columns.str.strip()
data.columns

Index(['id', 'route_name', 'route_link', 'bus_name', 'bus_type',
       'departing_time', 'duration', 'reaching_time', 'star_rating', 'price',
       'seats_available'],
      dtype='object')

In [26]:
required_columns = ['id', 'route_name', 'route_link', 'bus_name', 'bus_type',
                    'departing_time', 'duration', 'reaching_time',
                    'star_rating', 'price', 'seats_available']
missing_columns = [col for col in required_columns if col not in data.columns]
if missing_columns:
    print(f"Missing columns: {missing_columns}")

In [28]:
for col in missing_columns:
    data[col] = None  # Add missing columns with default values
data

,id,route_name,route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seats_available
0,1,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 3435,Super Fast Non AC Seater (2+3),23:44,09h 15m,08:59,0.0,688.0,23
1,2,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 3435,Super Fast Non AC Seater (2+3),23:44,09h 15m,08:59,0.0,688.0,23
2,3,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,MMK Travels,A/C Seater / Sleeper (2+1),22:30,09h 00m,07:30,4.6,999.0,16
3,4,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,MMK Travels,A/C Seater / Sleeper (2+1),22:30,09h 00m,07:30,4.6,999.0,16
4,5,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,SKS Tours & Travels,A/C Sleeper (2+1),21:15,08h 30m,05:45,4.2,1299.0,18
...,...,...,...,...,...,...,...,...,...,...,...
13352,13353,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...,Pammi Travels,Non A/C Seater / Sleeper (2+1),21:00,02h 59m,23:59,3.6,550.0,17
13353,13354,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...,Pammi Travels,NON A/C Sleeper (2+1),21:15,02h 44m,23:59,3.6,750.0,20
13354,13355,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...,Pammi Travels,NON A/C Sleeper (2+1),21:15,02h 44m,23:59,3.6,750.0,20
13355,13356,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...,Pammi Travels,NON A/C Sleeper (2+1),21:15,02h 44m,23:59,3.6,750.0,20
13356,13357,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...,Pammi Travels,NON A/C Sleeper (2+1),21:15,02h 44m,23:59,3.6,750.0,20

In [42]:
import pandas as pd
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus

# Database configuration
db_user = 'root'
db_password = 'Portal@77'
db_host = 'localhost'
db_name = 'BusTransport'

# Load the CSV file
csv_file_path = 'C:/Users/Dine24/Python Course/Guvi-Course/Cleaned_RedBus_Details.csv'
data = pd.read_csv(csv_file_path)

# Define table schema
table_creation_query = """
CREATE TABLE IF NOT EXISTS bus_routes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    route_name TEXT NOT NULL,
    route_link TEXT NOT NULL,
    bus_name TEXT NOT NULL,
    bus_type TEXT NOT NULL,
    departing_time TIME NOT NULL,
    duration TEXT NOT NULL,
    reaching_time TIME NOT NULL,
    star_rating FLOAT,
    price DECIMAL(10, 2),
    seats_available INT
);
"""

# Initialize database connection
password_encoded = quote_plus(db_password)
engine = create_engine(f"mysql+pymysql://{db_user}:{password_encoded}@{db_host}/{db_name}")

# Create the table
try:
    with engine.connect() as connection:
        connection.execute(text(table_creation_query))  # Use text() for the query
        print("Table 'bus_routes' created successfully.")
except Exception as e:
    print(f"Error creating table: {e}")

# Preprocess the data for insertion
try:
    # Ensure 'seats_available' is numeric
    if 'seats_available' in data.columns:
        data['seats_available'] = pd.to_numeric(data['seats_available'], errors='coerce').fillna(0).astype(int)

    # Insert data into the table
    with engine.connect() as connection:
        data.to_sql('bus_routes', con=engine, if_exists='append', index=False)
        print("Data inserted successfully into 'bus_routes' table.")
except Exception as e:
    print(f"Error inserting data: {e}")

Table 'bus_routes' created successfully.
Data inserted successfully into 'bus_routes' table.